<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar</title>
</head>
<body>

    <span>Estamos <%= lema %></span>
    
    <h3>Tablita de aprendices</h3>
    
    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Ficha</th>
                <th>Promedio</th>
            </tr>
        </thead>
        <tbody>
            <% matriculados.forEach(function(apren){ %>
            <tr>
                <th><%= apren.nombre %></th>
                <th><%= apren.ficha %></th>
                <th><%= apren.promedio %></th>
            </tr>
            <%});%>
        </tbody>
    </table>

</body>
</html>